form:not(.inline) {
    width: 100%;
    margin: auto;
    max-width: 500px;
    border: 1px solid;
    background-color: antiquewhite;
    padding: 20px;
    font-family: 'Sue Ellen Francisco', cursive;
    display: grid;
    gap: 20px;
    color: rgb(97, 153, 216);
    border-color: rgb(223, 134, 17);
}

label {
    font-family: 'Titillium Web';
    font-size: 25px;
    font-weight: bold;
    color: rgb(38, 30, 39);
    font-family: 'Sue Ellen Francisco', cursive;
    display: grid;
    gap: 5px;
}

form input,
form textarea,
form select,
form button {
    width: 100%;
    font-size: 1.15em;
    padding: 5px;
    background-color: rgb(250, 234, 234);
    font-family: 'Sue Ellen Francisco', cursive;
}

form input,
form select {
    height: 35px;
    font-family: 'Sue Ellen Francisco', cursive;
}

form input[type='file'] {
    padding: 0;
}

form select:invalid,
form *::placeholder {
    color: white;
}

form textarea {
    height: 70px;
    padding: 5px;
    font-family: 'Rubik';
    resize: vertical;
}

form button {
    margin-top: 10px;
    height: 45px;
    background: var(--action-color);
    border: 0;
    font-weight: bold;
    color: rgb(38, 30, 39);
    background-color: rgb(255, 198, 198);
}

form button:disabled {
    opacity: 0.5;
}

.page-header {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 2em;
    color: rgb(38, 30, 39);
    background-color: rgb(252, 238, 222);
}

#auth-logo {
    height: 85px;
}

body {
    background-color: rgb(246, 235, 253);
}

a {
    color: rgb(223, 134, 17);
    font-size: 25px;
}

* {
    cursor: url(https://cur.cursors-4u.net/food/foo-3/foo261.ani),
        url(https://cur.cursors-4u.net/food/foo-3/foo261.png), auto !important;
}
